// src/css/quasar.variables.sass

$primary   : #0bbeb4
$primary-light: rgba($primary, 0.2);
//$secondary : #69df89
$secondary: #b8e1ae
$secondary-light: #E8FADF
$accent    : #ab33fa

$dark: #6a4e40
//$dark      : #294a6c
$dark-page : #1c3b4a

$positive  : #77de5b
$negative  : #ff5d63
$info      : #00a2ff
$warning   : #e4f143