// src/css/quasar.variables.sass

$primary   : #0bbeb4
//$secondary : #69df89
$secondary: #77de5b
$secondary-light: rgba($secondary, 0.3)
$accent    : #ab33fa

$dark: #6a4e40
//$dark      : #294a6c
$dark-page : #1c3b4a

$positive  : #77de5b
$negative  : #ff5d63
$info      : #00a2ff
$warning   : #e4f143